.list-item-container-similar-Job-card {
  background-color: #272727;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  width: 20%;
  margin-right: 15px;
  min-width: 250px;
}
.similar-company-img-name-star-container {
  display: flex;
  align-items: center;
}
.similar-company-logo {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.similar-company-logo-img {
  height: 60px;
}
.similar-star-rating-title-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.similar-hr-line {
  background-color: #b6c5ff;
  font-size: 1px;
  height: 1px;
}
.similar-company-name {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 15px;
  margin-bottom: 0px;
}
.similar-star-rating-container {
  display: flex;
  align-items: center;
}
.similar-star-icon {
  color: #fbbf24;
  margin-right: 5px;
  font-size: 17px;
}
.similar-rating-in-num {
  font-family: 'Roboto';
  color: #f8fafc;
  font-weight: 400;
  font-size: 14px;
}
.similar-location-job-type-salary-container {
  display: flex;
  color: #f8fafc;
  font-family: 'Roboto';
  font-weight: 400;
}
.similar-location-type-icons {
  margin-right: 5px;
  font-size: 17px;
}
.similar-location-icon-location-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.similar-job-location {
  font-weight: 400;
  font-size: 14px;
}
.similar-job-type-container {
  display: flex;
  align-items: center;
}
.similar-job-type-text {
  font-weight: 400;
  font-size: 14px;
}
.similar-salary-package {
  margin-left: auto;
}
.similar-description-container {
}
.similar-job-card-description-heading {
  color: #f8fafc;
  font-family: 'Roboto';
  font-weight: 500;
}
.similar-job-card-description {
  font-family: 'roboto';
  font-size: 15px;
  font-weight: 300;
  color: #f8fafc;
}
